img {
  width: 100%;
}

.bg-theme-color {
  background-color: #BDF2D5;
}

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.navbar .navbar-brand img {
  width: 70px;
  height: 70px;
}
.navbar .nav-item {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.navbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3C2C3E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .nav-item .nav-link:hover::after {
  width: 100%;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 800;
  color: #4B5D67;
}

.carousel {
  padding-top: 70px;
}
@media (max-width: 768px) {
  .carousel {
    padding-top: 90px;
  }
}

main {
  overflow: hidden;
}

#about {
  position: relative;
}
#about img {
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 15px #999898;
          box-shadow: 10px 10px 15px #999898;
}
#about .title {
  font-size: 38px;
}
#about p {
  letter-spacing: 6px;
  text-align: left;
  font-size: 20px;
  color: #9e9e9e;
  line-height: 48px;
  text-indent: 2em;
}
@media (max-width: 992px) {
  #about p {
    padding-top: 32px;
    letter-spacing: 4px;
    text-align: center;
    font-size: 16px;
    color: #9e9e9e;
    line-height: 32px;
    text-indent: 2em;
  }
}
#about::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: -200px;
  width: 300px;
  height: 300px;
  background-color: rgba(6, 255, 48, 0.2666666667);
  z-index: -1;
  overflow: hidden;
}
#about::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -120px;
  right: -174px;
  width: 250px;
  height: 250px;
  background-color: rgba(115, 80, 119, 0.5137254902);
  z-index: -1;
}

#product.hero {
  padding-top: 80px;
}
@media (max-width: 992px) {
  #product.hero {
    padding-top: 0px;
  }
}
#product.hero .title {
  font-size: 38px;
}