* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.bg-theme-color {
  background-color: #BDF2D5;
}

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 992px) {
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.bttn {
  border-radius: 8px;
  border-color: #809A6F;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  color: #000;
  position: relative;
  outline: none;
  font-weight: bold;
}

.bttn:hover {
  color: #fff6f6;
}

.bttn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #809A6F;
  z-index: -1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-radius: 0 0 50% 50%;
}

.bttn:hover::before {
  height: 100%;
}

.navbar .navbar-brand img {
  width: 70px;
  height: 70px;
}
.navbar .nav-item {
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
}
.navbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3C2C3E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar .nav-item .nav-link:hover::after {
  width: 100%;
}
.navbar ul li a {
  font-size: 20px;
  font-weight: 800;
  color: #4B5D67;
}

.carousel {
  padding-top: 70px;
}
@media (max-width: 768px) {
  .carousel {
    padding-top: 90px;
  }
}

main {
  overflow: hidden;
}

#about {
  background-image: url("../images/wave top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#about img {
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 15px #999898;
          box-shadow: 10px 10px 15px #999898;
}
#about .title {
  font-size: 38px;
}
#about p {
  letter-spacing: 6px;
  text-align: left;
  font-size: 20px;
  color: #777676;
  line-height: 48px;
  text-indent: 2em;
}
@media (max-width: 992px) {
  #about p {
    padding-top: 32px;
    letter-spacing: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    text-indent: 2em;
  }
}
#about::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -320px;
  left: -123px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 133, 22, 0.4235294118);
}
@media (max-width: 1600px) {
  #about::before {
    display: none;
  }
}
#about::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 320px;
  right: -89px;
  width: 250px;
  height: 250px;
  background-color: rgba(115, 80, 119, 0.5137254902);
  z-index: -1;
}
@media (max-width: 1600px) {
  #about::after {
    display: none;
  }
}

#product.hero {
  padding-top: 80px;
}
@media (max-width: 992px) {
  #product.hero {
    padding-top: 0px;
  }
}
#product.hero .row {
  margin-top: 65px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1.5em;
  -webkit-box-shadow: 4px 4px 10px #9c9c9c;
          box-shadow: 4px 4px 10px #9c9c9c;
  overflow: hidden;
  margin: 30px;
  transition: all 0.3s ease;
}
#product.hero .row:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1200px) {
  #product.hero .row:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#product.hero .title {
  font-size: 38px;
}
#product.hero .year {
  font-size: 12px;
}
#product.hero .day {
  font-size: 40px;
  line-height: 1.5;
  color: #333;
}
#product.hero .date {
  border-left: 4px solid #ccc;
  padding-left: 20px;
  height: 100%;
}
@media (max-width: 768px) {
  #product.hero .date {
    border: none;
  }
}

#service {
  background-image: url("../images/wave.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#service .title {
  font-size: 38px;
}