* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.bg-theme-color {
    background-color: #BDF2D5;
}

.hero {
    padding-top: 150px;
    padding-bottom: 150px;

    @media(max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


.bttn {
    border-radius: 8px;
    border-color: #809A6F;
    background: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;
    color: #000;
    position: relative;
    outline: none;
    font-weight: bold;
    border: 1px solid #000;
}

.bttn:hover {
    color: #fff6f6;
}

.bttn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #809A6F;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 0 50% 50%;

}

.bttn:hover::before {
    height: 100%;
}

// cpt
.navbar {
    .navbar-brand{
        width: 70px;
        height: 70px;
        background-image: url(../images/Pomelo.png);
        background-size: contain;
    }

    .nav-item {
        margin-left: 8px;
        margin-right: 8px;
        position: relative;

        .nav-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: #3C2C3E;
            transition: all 0.3s;
        }

        .nav-link:hover::after {
            width: 100%;
        }
    }

    ul li a {
        font-size: 20px;
        font-weight: 800;
        color: #4B5D67;
    }
}

.carousel {
    padding-top: 70px;

    @media (max-width: 768px) {
        padding-top: 90px;
    }
}

main {
    overflow: hidden;
}

#about {
    // background-image: url("../images/wave\ top.png");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    position: relative;

    img {
        border-radius: 8px;
        box-shadow: 10px 10px 15px #999898;
    }

    .title {
        font-size: 38px;
    }

    p {
        letter-spacing: 6px;
        text-align: left;
        font-size: 20px;
        color: #777676;
        line-height: 48px;
        text-indent: 2em;

        @media (max-width: 992px) {
            padding-top: 32px;
            letter-spacing: 4px;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
            text-indent: 2em;
        }
    }

   
}

#product.hero {
    position: relative;
    //  &::before {
    //     content: "";
    //     display: block;
    //     border-radius: 50%;
    //     position: absolute;
    //     bottom: 0;
    //     left: -356px;
    //     width: 300px;
    //     height: 300px;
    //     background-color: #0085166c;
    //     @media (max-width: 1600px) {
    //         display: none;
    //     }
    // }

    // &::after {
    //     content: "";
    //     display: block;
    //     border-radius: 50%;
    //     position: absolute;
    //     top: -114px; 
    //     right: -362px;
    //     width: 250px;
    //     height: 250px;
    //     background-color: #73507783;
    //     z-index: -1;
    //     @media (max-width: 1600px) {
    //         display: none;
    //     }
    // }
    padding-top: 80px;
    @media (max-width:992px) {
        padding-top: 0px;
    }

    .row {
        margin-top: 65px;
        transition: all .3s ease;
        border-radius: 1.5em;
        box-shadow: 4px 4px 10px #9c9c9c;
        overflow: hidden;
        margin: 30px;
        transition: all .3s ease;
    }

    .row:hover {
        transform: scale(1.1);

        @media (max-width: 1200px) {
            transform: scale(1.0);
        }
    }

    .title {
        font-size: 38px;
    }

    .year {
        font-size: 12px;
    }

    .day {
        font-size: 40px;
        line-height: 1.5;
        color: #333;
    }

    .date {
        border-left: 4px solid #ccc;
        padding-left: 20px;
        height: 100%;
    }

    @media(max-width: 768px) {
        .date {
            border: none;
        }
    }
}
#service{
    // background-image: url("../images/wave\ bot.png");
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
    .title{
        font-size: 38px;
        text-align: center;
    }
}
#contact{
    .title {
        font-size: 38px;
    }
}